<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="methods" thread-count="3">
    <test name="Positive Tests">
        <classes>
            <class name="PositiveTestClass"/>
        </classes>
    </test>
    <test name="Negative Tests">
        <classes>
            <class name="NegativeTestClass"/>
        </classes>
    </test>
</suite>